<script src="assets/js/main.min.js"></script>

{% include analytics.html %}
{% include fetch_google_scholar_stats.html %}

<!-- <script src="assets/js/main.min.js"></script>

{% include analytics.html %}
{% include fetch_google_scholar_stats.html %}

<!-- Auto-count publications -->
<script>
fetch("{{ url }}")
  .then(response => response.json())
  .then(data => {
      let pubCount = Object.keys(data['publications']).length;
      let el = document.getElementById("pub_count");
      if (el) el.innerText = pubCount;
  });
</script> -->
